<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnnaExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8C17D441BE900E3005A4D80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C17D581BE900E3005A4D80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C17D631BE900E3005A4D80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
